<p id="notice"><%= notice %></p>

<h1>Listing Composers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Deleted by</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @composers.each do |composer| %>
      <tr>
        <td><%= composer.name %></td>
        <td><%= composer.created_by %></td>
        <td><%= composer.updated_by %></td>
        <td><%= composer.deleted_by %></td>
        <td><%= composer.deleted_at %></td>
        <td><%= link_to 'Show', composer %></td>
        <td><%= link_to 'Edit', edit_composer_path(composer) %></td>
        <td><%= link_to 'Destroy', composer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Composer', new_composer_path %>
