<%= simple_form_for(@song) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :composer %>
    <%= f.input :tempo %>
    <%= f.input :key %>
    <%= f.input :scale %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
