<%= simple_form_for(@song, html: { class: "well"} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :title %>
      </div>
      <div class="col-sm-6">
        <%= f.association :composer %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :tempo %>
      </div>
      <div class="col-sm-6">
        <%= f.input :key, include_blank: false, collection: Song.keys.keys, as: :select %>
      </div>
    </div>
    <%= f.input :scale, collection: Song.scales.keys, as: :radio_buttons %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
