<!DOCTYPE html>
<html>
<head>
  <title>Rachmaninov</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container-fluid">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div class="navbar-collapse collapse navbar-responsive-collapse">
<%= link_to("Rachaninov", "/", class: "navbar-brand") %>
</div>
</div>
</div>

<div class="container-fluid">

<%= yield %>

<footer>
<p class="text-right text-muted"> Copyright &copy; swan_match</p>
</footer>

</div>

</body>
</html>
